{% extends viewType %}
{% block content %}
{% if dev %}
<h1>Device: {{ dev.name }}</h1>
ID: {{ dev.id }}<p>
{% if form %}
<form action="/core/{{ dev.id }}/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Create" name="Create"/>
</form>
{% endif %}
<h2>Capabilites</h2>
{% if dev.onOff %}
ON/OFF<br>
{% endif %}
{% if dev.dim %}
DIMMING<br>
{% endif %}
{% if dev.activate %}
ACTIVATE<br>
{% endif %}
{% else %}
    <p>No device are available.</p>
{% endif %}
{% endblock %}
