{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% if app_list %}
{% if app_list|length == 1 %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
<h2><a href="/admin/core/">Administrate core system</a></h2>
Here you configure your devices and variables.<p>
<h2><a href="/admin/remote/">Create and configure remotes</a></h2>
Remotes are used to create custom web pages that contain buttons and other widgets in the exact way that you want them and more and that looks good.<p>
<h2><a href="/admin/signals/">Configure signals</a></h2>
Use signals to extend the functionality of the system. This involves handling incomming signals and make use of them as sensor values or to trigger other functionality.<p>
<hr>
<h2><a href="/admin/settings/settingsvalue/">System settings</a></h2>
Here you modify system wide settings like timezone, position and other plugin specifics.<p>
<hr>
<h2>System commands and status</h2>
The following are various system related commands and status pages.
<ul>
<h3><a href="/core/events/admin/">Current scheduled events</a></h3>
This list all comming events and also allow you to delay or cancel events.<p>
<h3><a href="/signals/index/">See signals and create handler or device from them</a></h3>
Here you can see all signals that is sent around in the system. There is also a possibility to create Tellstick devices from signals heard by a Tellstick DUO. This is also the place to find the wizard to create new signal handlers from signals.<p>
<h3><a href="/learn/admin/">Send learn codes</a></h3>
To send learn codes to Tellstick devices.<p> 
<h3><a href="/update/do/">Update system to latest version</a></h3>
When you follow this link the system will update itself directly, no questions asked.<p>
<h3><a href="/viewlogs/">View system log files</a></h3>
If things doesnt work the way it should, see logs here.
<h3><a href="/backup/">Create or restore a configuration</a></h3>
When you have done a lot of configuration, make sure to backup the database here. You can also restore from a backup here.
{% endif %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
<p>&nbsp;
<p>
<h2><a href="/remote/">Go back to my remote</a></h2>
<h2><a href="/remote/change/">Change my remote</a></h2>
<h2><a href="/">Go back to main page</a></h2>

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
